################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureLab.FunctionApp/.vs/AzureLab.FunctionApp
